<template>
    <div class="brand-create-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item>
                <router-link :to="{ name: 'shirtIndex' }">Shirts</router-link> 
            </v-breadcrumbs-item>

            <v-icon>mdi-chevron-right</v-icon>

            <v-breadcrumbs-item disabled>Variant-Create</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-card width="768" class="ma-auto brand-create-form">
            <v-alert type="error" v-if="errors && errors.data && errors.data.duplicate">
                {{ errors.data.duplicate }}
            </v-alert>
            <v-row>
                <v-switch v-model="shirt.status" label="Live to user for this product?" @change="changeStatus"></v-switch>
            </v-row>
            <v-row>
                <v-col cols="12" md="3">
                    <v-select
                        ref="chooseColor"
                        v-model="shirt.chooseColor"
                        :items="colors"
                        item-text="name"
                        item-value="id"
                        :rules="[v => !!v || 'Item is required']"
                        label="Color"
                        required
                    ></v-select>
                </v-col>
                <v-col cols="12" md="3">
                    <v-select
                        ref="chooseColor"
                        v-model="shirt.chooseSize"
                        :items="sizes"
                        item-text="name"
                        item-value="id"
                        :rules="[v => !!v || 'Item is required']"
                        label="Size"
                        required
                    ></v-select>
                </v-col>
                <v-col cols="12" md="3">
                    <v-text-field
                        v-model="shirt.chooseQty"
                        :rules="[v => !!v || 'Item is required']"
                        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" 
                        label="Quantity"
                        required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                    <v-btn v-if="shirt.chooseQty == '' || shirt.chooseColor == '' || shirt.chooseSize == ''" disabled class="mr-4 mt-8 purple darken-2 white--text">Add</v-btn>
                    <v-btn v-else class="mr-4 mt-8 purple darken-2 white--text" @click="add">Add</v-btn>
                </v-col>
            </v-row>

            <v-simple-table>
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th>color</th>
                            <th>size</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="variants && variants.length > 0">
                            <tr v-for="(variant, index) in variants" :key="index">
                                <td>{{ variant.color.name }}</td>
                                <td>{{ variant.size.name }}</td>
                                <td>{{ variant.quantity }}</td>
                                <td>
                                    <v-btn md class="ma-2" tile outlined @click="updateForm(variant.id, variant.color_id, variant.size_id, variant.quantity)">
                                        <v-icon left>mdi-pencil</v-icon> Edit
                                    </v-btn>
                                    <v-btn type="button" md class="ma-2" tile outlined color="error" @click="deleteVariant(variant.id)">
                                        <v-icon left>mdi-trash-can</v-icon> Delete
                                    </v-btn>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="3">No Variants Found!</td>
                            </tr>
                        </template>
                    </tbody>
                </template>
            </v-simple-table>
        </v-card>

        <v-overlay :value="overlay">
            <v-card>
                <v-container>
                     <v-btn
                        icon
                        @click="overlay = false"
                        style="float: right;"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-row>
                        <v-col cols="12" md="3">
                            <v-select
                                v-model="update.color_id"
                                :items="colors"
                                item-text="name"
                                item-value="id"
                                :rules="[v => !!v || 'Item is required']"
                                label="Color"
                                required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-select
                                v-model="update.size_id"
                                :items="sizes"
                                item-text="name"
                                item-value="id"
                                :rules="[v => !!v || 'Item is required']"
                                label="Size"
                                required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-text-field
                                v-model="update.quantity"
                                :rules="[v => !!v || 'Item is required']"
                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" 
                                label="Quantity"
                                required
                            ></v-text-field>
                        </v-col>

                         <v-col cols="12" md="3">
                            <v-btn v-if="update.quantity == '' || update.size_id == '' || update.color_id == ''" disabled class="mr-4 mt-8 purple darken-2 white--text">Update</v-btn>
                            <v-btn v-else class="mr-4 mt-8 purple darken-2 white--text" @click="edit">Update</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-overlay>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shirt: {
                id: '',
                name: '',
                status: '',
                chooseColor: '',
                chooseSize: '',
                chooseQty: '',
            },
            switch2: false,
            update: {
                id: '',
                color_id: '',
                size_id: '',
                quantity: '',
            },

            overlay: false,
        }
    },

    mounted() {
        this.$store.dispatch('getVariantInfo', { id: this.$route.params.id })
            .then(res => {
                this.shirt.id = this.$store.getters.getReqVariantData.shirt.id
                this.shirt.name = this.$store.getters.getReqVariantData.shirt.name
                this.shirt.status = this.$store.getters.getReqVariantData.shirt.status == 2 ? true : false
            })
        
        this.$store.dispatch('getVariants', { id: this.$route.params.id })
    },

    computed: {
        colors() {
            return this.$store.getters.getReqVariantColor
        },
        sizes() {
            return this.$store.getters.getReqVariantSize
        },
        variants() {
            return this.$store.getters.getVariants
        },
        errors() {
            return this.$store.getters.getVariantErrors
        },
    },

    methods: {
        changeStatus() {
            this.$store.dispatch('changeStatus', { 
                id: this.shirt.id, 
                status: this.shirt.status == false ? 1 : 2, 
            })            
        },

        add() {
            this.$store.dispatch('createVariant', {
                'shirt_id': this.$route.params.id,
                'color_id': this.shirt.chooseColor,
                'size_id': this.shirt.chooseSize,
                'quantity': this.shirt.chooseQty,
            })
        },

        updateForm(id, color_id, size_id, qty) {
            this.update.id = id
            this.update.color_id = color_id
            this.update.size_id = size_id
            this.update.quantity = qty
            
            this.overlay = !this.overlay
        },

        edit() {
            this.$store.dispatch('updateVariant', {
                'id': this.update.id,
                'shirt_id': this.$route.params.id,
                'color_id': this.update.color_id,
                'size_id': this.update.size_id,
                'quantity':  this.update.quantity,
            }).then(res => {
                this.overlay = !this.overlay
            })
        },

        deleteVariant(id) {
            console.log('here');
            
            this.$store.dispatch('deleteVariant', {
                'id': id,
                'shirt_id': this.$route.params.id,
            })
        }
    },
}
</script>