<template>
    <div class="brand-create-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item>
                <router-link :to="{ name: 'sizeIndex' }">Sizes</router-link> 
            </v-breadcrumbs-item>

            <v-icon>mdi-chevron-right</v-icon>

            <v-breadcrumbs-item disabled>Edit</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-card width="768" class="ma-auto brand-create-form">
            <v-container fluid>
                <p>Status</p>
                <v-radio-group v-model="status" :mandatory="false">
                    <v-radio label="Pending" value="radio-1"></v-radio>
                    <v-radio label="Live" value="radio-2"></v-radio>
                </v-radio-group>
                <span class="error">{{ errors && errors.status ? errors.status : '' }}</span>
            </v-container>
            <v-text-field
                ref="name"
                v-model="name"
                :error-messages="errors && errors.name ? errors.name: ''"
                label="Name"
            ></v-text-field>

            <v-btn class="mr-4 mt-8 purple darken-2 white--text" @click="submit">Submit</v-btn>
            <v-btn class="mt-8" @click="clear">Clear</v-btn>
        </v-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            status: 'radio-1',
            name: ''
        }
    },
    mounted() {
        this.$store.dispatch('getSize', { id: this.$route.params.id })
            .then(res => {
                this.status = this.$store.getters.getSize.status == 2 ? 'radio-2' : 'radio-1'
                this.name = this.$store.getters.getSize.name
            })
    },

    computed: {
        errors() {
            return this.$store.getters.sizeErrors
        }
    },

    methods: {
        submit() {
            this.status == 'radio-1' ?  this.status = 1 : this.status = 2
            this.$store.dispatch('updateSize', {
                id: this.$route.params.id,
                name: this.name,
                status: this.status
            })
            .then(res => {
                this.$router.push({
                    name: 'sizeIndex'
                })
            })
            .catch(err => {
                this.status = 1 ? 'radio-1' : 'radio-2'
            })
        },

        clear() {
            this.name = ''
            this.status = 'radio-1'
        }
    },
}
</script>