<template>
    <div class="container brand-list-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item disabled>Sizes</v-breadcrumbs-item>

        </v-breadcrumbs>
        <v-row class="create-search">
            <v-col md="3">
                <v-btn :to="{ name: 'sizeCreate' }" color="purple white--text">Create</v-btn>
            </v-col>
            <v-col md="9">
                <v-text-field
                    class="search"
                    v-model="search"
                    label="Search"
                    @change="searchSize"
                >
                    <v-icon slot="append" color="red">mdi-search</v-icon>
                </v-text-field>
            </v-col>
        </v-row>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">id</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="sizes && sizes.data">
                        <tr v-for="(size, index) in sizes.data" :key="index">
                            <td>{{ size.id }}</td>
                            <td>{{ size.name }}</td>
                            <td>{{ size.status }}</td>
                            <td>
                                <v-btn :to="{ name: 'sizeEdit', params:{ id: size.id } }" md class="ma-2" tile outlined>
                                    <v-icon left>mdi-pencil</v-icon> Edit
                                </v-btn>
                                <v-btn md class="ma-2" tile outlined color="error" @click="deleteSize(size.id)">
                                    <v-icon left>mdi-trash-can</v-icon> Delete
                                </v-btn>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr v-if="!load">
                            <td colspan="3">No Size Found!!</td>
                        </tr>
                        <tr v-else>
                            <td colspan="3">
                                <v-progress-circular
                                    :size="70"
                                    :width="7"
                                    color="purple"
                                    indeterminate
                                ></v-progress-circular>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search: ''
        }
    },

    mounted() {
        this.$store.dispatch('getSizes')
    },

    computed: {
        sizes() {
            return this.$store.getters.getSizes
        },
        load() {
            return this.$store.getters.sizeLoading
        }
    },

    methods: {
        deleteSize(id) {
            this.$store.dispatch('deleteSize', { id: id })
        },

        searchSize() {
            this.$store.dispatch('searchSize', { keywords: this.search })
        }
    },
}
</script>