<template>
    <shirt-create />
</template>

<script>
import ShirtCreate from '../../components/shirts/Create'
export default {
    components: {
        'shirt-create': ShirtCreate
    },
}
</script>