// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@mdi/font/css/materialdesignicons.min.css';

// Variables
@import 'variables';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';


.admin-page {
    .title {
        margin: 21px 0;
    }
    .menu-link {
        margin: 25px 0;
    }

    .brand-create-page {
        width: 100%;
        .brand-create-form {
            margin-top: 40px !important;
            padding: 40px 30px;
        }
    }

    .brand-list-page {
        .create-search {
            padding: 20px;

            .search {
                width: 300px;
                float: right;
                padding: 0;
            }
        }
    }
}