<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                class="fill-height"
                fluid
            >
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                        cols="12"
                        sm="8"
                        md="5"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                color="primary"
                                dark
                                flat
                            >
                                <v-toolbar-title>ShirtSeller Admin Login</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                <v-text-field
                                    label="Email"
                                    v-model="email"
                                    prepend-icon="mdi-account"
                                    type="text"
                                    :error-messages="errors && errors.email ? errors.email: ''"
                                ></v-text-field>

                                <v-text-field
                                    id="password"
                                    label="Password"
                                    v-model="password"
                                    prepend-icon="mdi-lock"
                                    type="password"
                                    :error-messages="errors && errors.password ? errors.password: ''"
                                ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="login">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            password: ''
        }
    },

    computed: {
        errors() {
            return this.$store.getters.adminLoginErrors
        }
    },

    methods: {
        login() {
            this.$store.dispatch('adminLogin', {
                email: this.email,
                password: this.password
            }).then(res => {
                this.$router.push({
                    name: 'IndexPage'
                })
            })
        }
    }
}
</script>