<template>
    <div class="brand-create-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item>
                <router-link :to="{ name: 'shirtIndex' }">Shirts</router-link> 
            </v-breadcrumbs-item>

            <v-icon>mdi-chevron-right</v-icon>

            <v-breadcrumbs-item disabled>Create</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-card width="768" class="ma-auto brand-create-form">
            <v-text-field
                ref="name"
                v-model="name"
                :error-messages="errors && errors.name ? errors.name: ''"
                label="Name"
            ></v-text-field>

            <v-text-field
                ref="price"
                v-model="price"
                :error-messages="errors && errors.price ? errors.price: ''"
                label="price"
            ></v-text-field>

            <v-select
                ref="brand_id"
                v-model="brand_id"
                :items="brands"
                item-text="name"
                item-value="id"
                :error-messages="errors && errors.brand_id ? errors.brand_id: ''"
                label="Brand"
            ></v-select>

            <div class="mt-8 mb-5">
                <Label>Colors</Label>
                <div class="row">
                    <template v-for="(col, index) in allColors">
                        <v-checkbox class="ml-3" v-model="colors" :label="col.name" :value="col.id" :key="index"></v-checkbox>
                    </template>
                </div>
                <p style="color: red;">{{ errors && errors.colors[0] ? errors.colors[0]: '' }}</p>
            </div>

            <div class="mt-8 mb-5">
                <Label>Description</Label>
                <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor>
                <p>{{ errors && errors.description ? errors.description: '' }}</p>
            </div>

            <v-file-input
                accept="image/*"
                v-model="images"
                label="Images"
                prepend-icon="mdi-camera"
                multiple
            ></v-file-input>

            <v-btn class="mr-4 mt-8 purple darken-2 white--text" @click="submit">Submit</v-btn>
            <v-btn class="mt-8" @click="clear">Clear</v-btn>
        </v-card>
    </div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
export default {
    
    data() {
        return {
            name: '',
            price: 0.00,
            description: '',
            brand_id: '',
            colors: [],
            images: [],
            disabled: true,

            brands: null,
            allColors: null,
            editor: ClassicEditor,
            editorConfig: {
                // The configuration of the editor.
            }
        }
    },

    computed: {
        errors() {
            return this.$store.getters.shirtErrors
        },
    },

    mounted() {
        this.$store.dispatch('getReqShirtData')
            .then(response => {
                console.log(this.$store.getters.getReqShirtData);
                
                this.brands = this.$store.getters.getReqShirtData.brands
                this.allColors = this.$store.getters.getReqShirtData.colors
            })
    },

    methods: {
        submit() {
            console.log(this.images);
            this.$store.dispatch('createShirt', {
                name: this.name,
                price:this.price,
                description: this.description,
                brand_id: this.brand_id,
                colors: this.colors,
                images: this.images
            })
            .then(res => {
                this.$router.push({
                    name: 'shirtIndex'
                })
            })
        },

        clear() {
            this.name = ''
            this.status = 1
        }
    },
}
</script>