<template>
    <div class="container brand-list-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item disabled>Shirts</v-breadcrumbs-item>

        </v-breadcrumbs>
        <v-row class="create-search">
            <v-col md="3">
                <v-btn :to="{ name: 'shirtCreate' }" color="purple white--text">Create</v-btn>
            </v-col>
            <v-col md="9">
                <v-text-field
                    class="search"
                    v-model="search"
                    label="Search"
                    @change="searchShirt"
                    color="purple"
                >
                    <v-icon slot="append" color="red">mdi-text-search</v-icon>
                </v-text-field>
            </v-col>
        </v-row>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">id</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Brand</th>
                        <th class="text-left">Color</th>
                        <th class="text-left">Price</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="shirts">
                        <template v-if="shirts.data.length > 0">
                            <tr v-for="(shirt, index) in shirts.data" :key="index">
                                <td>{{ shirt.id }}</td>
                                <td>{{ shirt.name }}</td>
                                <td>{{ shirt.brand_name }}</td>
                                <td>
                                    <div style="display: flex;">
                                    <template v-for="(color, index) in shirt.colors">
                                        <div :key="index" :style="{ 
                                            backgroundColor: color.code,
                                            width: '30px', 
                                            height: '30px',
                                            marginRight: '5px', 
                                            borderWidth: '1px',
                                            borderStyle: 'solid', 
                                            borderColor: 'black' }">
                                        </div>
                                    </template>
                                    </div>
                                </td>
                                <td>${{ shirt.price }}</td>
                                <td>{{ shirt.status == 1 ? 'Pending' : 'Live' }}</td>
                                <td>
                                    <v-btn :to="{ name: 'shirtEdit', params:{ id: shirt.id } }" md class="ma-2" tile outlined>
                                        <v-icon left>mdi-pencil</v-icon> Edit
                                    </v-btn>
                                     <v-btn :to="{ name: 'variantCreate', params:{ id: shirt.id } }" md class="ma-2" tile outlined>
                                        <v-icon left>mdi-vector-circle-variant</v-icon> Variant Manage
                                    </v-btn>
                                    <v-btn md class="ma-2" tile outlined color="error" @click="deleteShirt(shirt.id)">
                                        <v-icon left>mdi-trash-can</v-icon> Delete
                                    </v-btn>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="3">No Shirt Found!!</td>
                            </tr>
                        </template>
                    </template>
                    <template v-else>
                        <tr v-if="!load">
                            <td colspan="3">No Shirt Found!!</td>
                        </tr>
                        <tr v-else>
                            <td colspan="3">
                                <v-progress-circular
                                    :size="70"
                                    :width="7"
                                    color="purple"
                                    indeterminate
                                ></v-progress-circular>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </template>
        </v-simple-table>
        <div class="text-center">
            <v-pagination
                v-model="current"
                :length="total"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                @input="onPageChange"
            ></v-pagination>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search: '',
            current: 1,
            total: 0
        }
    },

    mounted() {
        this.onPageChange();
    },

    computed: {
        shirts() {
            return this.$store.getters.getShirts
        },
        load() {            
            return this.$store.getters.shirtLoading
        }
    },

    methods: {
        onPageChange() {
            this.$store.dispatch('getShirts', { page: this.current })
                .then(res => {
                    this.current = this.$store.getters.getShirts.meta.current_page
                    this.total = this.$store.getters.getShirts.meta.last_page
                })
        },

        deleteShirt(id) {
            this.$store.dispatch('deleteShirt', { id: id })
        },

        searchShirt() {
            this.$store.dispatch('searchShirt', { keywords: this.search })
        }
    },
}
</script>