<template>
    <div class="brand-create-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>

            <v-breadcrumbs-item disabled>Profile Update</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-card width="768" class="ma-auto brand-create-form">
            <v-alert type="error" v-if="errors && errors.message">{{ errors.message }}</v-alert>
            <v-text-field
                v-model="profile.name"
                :error-messages="errors && errors.name ? errors.name: ''"
                label="Name"
            ></v-text-field>

            <v-text-field
                v-model="profile.email"
                :error-messages="errors && errors.email ? errors.email: ''"
                label="Email"
            ></v-text-field>

            <v-text-field
                type="password"
                v-model="profile.old_password"
                :error-messages="errors && errors.old_password ? errors.old_password[0]: ''"
                label="Old Password"
            ></v-text-field>

            <v-text-field
                type="password"
                v-model="profile.new_password"
                :error-messages="errors && errors.new_password ? errors.new_password[0]: ''"
                label="New Password"
            ></v-text-field>

            <v-btn class="mr-4 mt-8 purple darken-2 white--text" @click="submit">Submit</v-btn>
            <v-btn class="mt-8" @click="clear">Clear</v-btn>
        </v-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            profile: {
                id: '',
                name: '',
                email: '',
                old_password: '',
                new_password: '',
            }
        }
    },

    mounted() {
        this.$store.dispatch('getAdmin')
            .then(res => {
                const admin = this.$store.getters.getAdminProfile
                this.profile.id = admin.id
                this.profile.name = admin.name
                this.profile.email = admin.email
            })
    },

    computed: {
        errors() {
            return this.$store.getters.adminProfileErrors
        }
    },

    methods: {
        submit() {
            this.$store.dispatch('updateProfile', {
                id: this.profile.id,
                name: this.profile.name,
                email: this.profile.email,
                old_password: this.profile.old_password,
                new_password: this.profile.new_password,
            })
        },
        clear() {
            this.profile.name = ''
            this.profile.email = ''
            this.profile.old_password = ''
            this.profile.new_password = ''
        }
    },
}
</script>