<template>
    <div class="container brand-list-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item disabled>Orders</v-breadcrumbs-item>

        </v-breadcrumbs>
        <v-row class="create-search">
            <v-col md="3">
                
            </v-col>
            <v-col md="9">
                <v-text-field
                    class="search"
                    v-model="search"
                    label="Search"
                    @change="searchBrand"
                >
                    <v-icon slot="append" color="red">mdi-search</v-icon>
                </v-text-field>
            </v-col>
        </v-row>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">id</th>
                        <th class="text-left">UserName</th>
                        <th class="text-left">OrderedProduct</th>
                        <th class="text-left">Counts</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="orders && orders.data">
                        <tr v-for="(order, index) in orders.data" :key="index">
                            <td>{{ order.id }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <v-btn :to="{ name: 'orderShow', params:{ id: order.id } }" md class="ma-2" tile outlined>
                                    <v-icon left>mdi-pencil</v-icon> Show
                                </v-btn>
                                <v-btn md class="ma-2" tile outlined color="error" @click="deleteOrder(order.id)">
                                    <v-icon left>mdi-trash-can</v-icon> Delete
                                </v-btn>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr v-if="!load">
                            <td colspan="3">No Order Found!!</td>
                        </tr>
                        <tr v-else>
                            <td colspan="3">
                                <v-progress-circular
                                    :size="70"
                                    :width="7"
                                    color="purple"
                                    indeterminate
                                ></v-progress-circular>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search: ''
        }
    },

    mounted() {
        this.$store.dispatch('getOrders')
    },

    computed: {
        orders() {
            return this.$store.getters.getOrders
        },
        load() {
            return this.$store.getters.orderLoading
        }
    },

    methods: {
        deleteOrder(id) {
            this.$store.dispatch('deleteOrder', { id: id })
        },

        searchOrder() {
            this.$store.dispatch('searchOrder', { keywords: this.search })
        }
    },
}
</script>