<template>
    <brand-create />
</template>

<script>
import BrandCreate from '../../components/brands/FormComponent'
export default {
    components: {
        'brand-create': BrandCreate
    },
}
</script>