<template>
    <profile-update />
</template>

<script>
import profileUpdate from '../../components/profiles/Update'
export default {
    components: {
        'profile-update': profileUpdate
    }
}
</script>