<template>
    <div class="brand-create-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item>
                <router-link :to="{ name: 'colorIndex' }">Colors</router-link> 
            </v-breadcrumbs-item>

            <v-icon>mdi-chevron-right</v-icon>

            <v-breadcrumbs-item disabled>Create</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-card width="768" class="ma-auto brand-create-form">
            <v-container fluid>
                <p>Status</p>
                <v-radio-group v-model="status" :mandatory="false">
                    <v-radio label="Pending" value="radio-1"></v-radio>
                    <v-radio label="Live" value="radio-2"></v-radio>
                </v-radio-group>
                <span class="error">{{ errors && errors.status ? errors.status : '' }}</span>
            </v-container>

            <v-color-picker v-model="code" :mode.sync="mode"></v-color-picker>

            <v-text-field
                ref="name"
                v-model="name"
                :error-messages="errors && errors.name ? errors.name: ''"
                label="Name"
            ></v-text-field>

            <v-btn class="mr-4 mt-8 purple darken-2 white--text" @click="submit">Submit</v-btn>
            <v-btn class="mt-8" @click="clear">Clear</v-btn>
        </v-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            mode: 'hexa',
            name: '',
            code: '',
            status: 'radio-1',
            disabled: true,
        }
    },

    computed: {
        errors() {
            return this.$store.getters.colorErrors
        }
    },

    methods: {
        submit() {
            this.status == 'radio-1' ?  this.status = 1 : this.status = 2
            this.$store.dispatch('createColor', {
                name: this.name,
                code: this.code,
                status: this.status
            })
            .then(res => {
                this.$router.push({
                    name: 'colorIndex'
                })
            })
            .catch(err => {
                this.status = 1 ? 'radio-1' : 'radio-2'
            })
        },

        clear() {
            this.name = ''
            this.code = ''
            this.status = 1
        }
    },
}
</script>