<template>
    <div class="container brand-list-page">
        <v-breadcrumbs >
            <v-breadcrumbs-item >
                <router-link :to="{ name: 'IndexPage' }">Home</router-link> 
            </v-breadcrumbs-item>
            
            <v-icon>mdi-chevron-right</v-icon>
           
            <v-breadcrumbs-item disabled>Colors</v-breadcrumbs-item>

        </v-breadcrumbs>
        <v-row class="create-search">
            <v-col md="3">
                <v-btn :to="{ name: 'colorCreate' }" color="purple white--text">Create</v-btn>
            </v-col>
            <v-col md="9">
                <v-text-field
                    class="search"
                    v-model="search"
                    label="Search"
                    @change="searchColor"
                    color="purple"
                >
                    <v-icon slot="append" color="purple">mdi-text-search</v-icon>
                </v-text-field>
            </v-col>
        </v-row>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">id</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Color</th>
                        <th class="text-left">Code</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="colors && colors.data">
                        <tr v-for="(color, index) in colors.data" :key="index">
                            <td>{{ color.id }}</td>
                            <td>{{ color.name }}</td>
                            <td>
                                <div :style="{ 
                                    backgroundColor: color.code, 
                                    width: '30px', 
                                    height: '30px', 
                                    borderWidth: '1px',
                                    borderStyle: 'solid', 
                                    borderColor: 'black' }"></div>
                            </td>
                            <td>{{ color.code }}</td>
                            <td>{{ color.status }}</td>
                            <td>
                                <v-btn :to="{ name: 'colorEdit', params:{ id: color.id } }" md class="ma-2" tile outlined>
                                    <v-icon left>mdi-pencil</v-icon> Edit
                                </v-btn>
                                <v-btn md class="ma-2" tile outlined color="error" @click="deleteColor(color.id)">
                                    <v-icon left>mdi-trash-can</v-icon> Delete
                                </v-btn>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr v-if="!load">
                            <td colspan="3">No Color Found!!</td>
                        </tr>
                        <tr v-else>
                            <td colspan="3">
                                <v-progress-circular
                                    :size="70"
                                    :width="7"
                                    color="purple"
                                    indeterminate
                                ></v-progress-circular>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search: ''
        }
    },

    mounted() {
        this.$store.dispatch('getColors')
    },

    computed: {
        colors() {
            return this.$store.getters.getColors
        },
        load() {
            return this.$store.getters.colorLoading
        }
    },

    methods: {
        deleteColor(id) {
            this.$store.dispatch('deleteColor', { id: id })
        },

        searchColor() {
            this.$store.dispatch('searchColor', { keywords: this.search })
        }
    },
}
</script>