<template>
    <div>
        <div v-if="$route.name == 'AdminLogin'">
            <router-view></router-view>
        </div>
        <div v-else class="admin-page">
            <v-navigation-drawer
                v-model="drawer"
                app
            >
                <v-list dense>
                    <v-list-item>
                        <v-list-item-title class="title text-center">
                            Admin Dashboard
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'IndexPage' }">
                        <v-list-item-action>
                            <v-icon>mdi-home-outline</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Home</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'shirtIndex' }">
                        <v-list-item-action>
                            <v-icon>mdi-account-box-outline</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Shirt</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'brandIndex' }">
                        <v-list-item-action>
                            <v-icon>mdi-inbox-full-outline</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Brand</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'sizeIndex' }">
                        <v-list-item-action>
                            <v-icon>mdi-crop</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Size</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'colorIndex' }">
                        <v-list-item-action>
                            <v-icon>mdi-invert-colors</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Color</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'orderIndex' }">
                        <v-list-item-action>
                            <v-icon>mdi-order-alphabetical-ascending</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Order</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link class="menu-link" :to="{ name: 'profileEdit' }">
                        <v-list-item-action>
                            <v-icon>mdi-contacts</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="body-2">Profile</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar
                app
                color="indigo"
                dark
                class="purple darken-2"
            >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>ShirtSeller</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click="logout">
                    <v-icon>mdi-power</v-icon>
                </v-btn>
            </v-app-bar>

            <v-content>
                <v-container
                    class="fill-height"
                    fluid
                >
                <router-view></router-view>
                </v-container>
            </v-content>
            <v-footer
                color="indigo"
                app
                class="purple darken-2"
            >
                <span class="white--text">&copy; 2019</span>
            </v-footer>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      source: String,
    },

    data() {
        return {
            drawer: null,
            inactive: false,
        }
    },

    methods : {
        logout() {
            this.$router.push({
                name: 'AdminLogout'
            })
        }
    },

    mounted() {
        this.$store.dispatch('getAdmin')
    },

    watch: {
        $route() {
            this.$store.dispatch('getAdmin')
        }
    },
}
</script>