<template>
</template>

<script>
export default {
    methods: {
        logout() {
            this.$store.dispatch("adminLogout")
                .then(() => {
                    this.$router.push({ name: "AdminLogin" });
                })
                .catch(err => {
                    this.$router.push({ name: "AdminLogin" });
                });
        }
    },

    mounted() {
        this.logout()
    },
}
</script>