<template>
    <variant-create />
</template>

<script>
import VariantCreate from '../../../components/shirts/variants/Create'
export default {
    components: {
        'variant-create': VariantCreate
    }
}
</script>